.blog-toolbar {
    height: 30px;
    background: #ccc;
    text-align: right;
    padding: 7px 20px 0 20px;
    border-bottom: #aaa 1px solid;
}

.blog-toolbar .user-label {
    padding-right: 10px;
}

.blog-container {
    display: flex;
    width: 100%;
}

.contact-column {
    flex: 1;
    border-left: #aaa 1px solid;
}

.blog-content {
    flex: 3;
    border-left: #aaa 1px solid;
}

.no-content-row {
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding-top: 20px;
}

.contact-column .user-row {
    display: flex;
    padding-bottom: 20px;
}

.blog-content .user-row .user-icon {
    flex: 1;
}

.contact-column .user-head {
    font-weight: bold;
    margin-right: 10px;
}

.blog-content .user-row .user-label {
    flex: 11;
}

.blog-header {
    background-color: #ccc;
    padding: 5px;
    border-bottom: #aaa 1px solid;
}

.blog-content {
    text-align: left;
    padding: 20px;
}

.section-title {
    font-weight: bold;
    text-align: left;
}

.contact-container {
    padding: 20px;
}
